[submodule "ROCm-CompilerSupport"]
	path = ROCm-CompilerSupport
	url = git@github.com:socal-ucr/ROCm-CompilerSupport.git
[submodule "ROCm-Device-Libs"]
	path = ROCm-Device-Libs
	url = git@github.com:socal-ucr/ROCm-Device-Libs.git
[submodule "rocm_smi_lib"]
	path = rocm_smi_lib
	url = git@github.com:RadeonOpenCompute/rocm_smi_lib.git
[submodule "HIP"]
	path = HIP
	url = git@github.com:socal-ucr/HIP.git
[submodule "ROCR-Runtime"]
	path = ROCR-Runtime
	url = git@github.com:socal-ucr/ROCR-Runtime.git
[submodule "ROCT-Thunk-Interface"]
	path = ROCT-Thunk-Interface
	url = git@github.com:socal-ucr/ROCT-Thunk-Interface.git
[submodule "rocm-cmake"]
	path = rocm-cmake
	url = git@github.com:RadeonOpenCompute/rocm-cmake.git
[submodule "rocminfo"]
	path = rocminfo
	url = git@github.com:RadeonOpenCompute/rocminfo.git
[submodule "ROCclr"]
	path = ROCclr
	url = git@github.com:socal-ucr/ROCclr.git
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:RadeonOpenCompute/llvm-project.git
[submodule "ROCm-OpenCL-Runtime"]
	path = ROCm-OpenCL-Runtime
	url = git@github.com:RadeonOpenCompute/ROCm-OpenCL-Runtime.git
[submodule "hipamd"]
	path = hipamd
	url = git@github.com:socal-ucr/hipamd.git
